#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: rimerribera # Change me (nombre del dominio sin .com)

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4xtmj5vhEFfRpwDb6yDDTLiHdnap+N85AbzCYnDj5uozF/vrQAWuhSFrFXehE97btkxbvj06b4P2wrSbCjXT6NY6/PjrvWtvU+f482zAX0rk5XJZVrAZBM+drkAWaGA2kB7qM7ArajITOL58rDHc1e3YwL94ZLd4GN25+lUDCfTG05QkByYlW1pNndK9L+DUW5QjkXO4+bibE78Acpbe+lb0I6HsqzER1YEEEKhNvjz5oQdnUoq5x00Wkx8VuBZd7n/cgEWQ5txzSYJ4xwEZ8hiOqnnVaFjugASdFnhe20Bhr5P4uO6p27sXvOVWlPVFfiaW1oKdRkKS+rigGdThV rimerribera@rdar-Virtual-Machine

    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo

    lock_passwd: false

